<%- include('../../partials/header.ejs') %>
<div class="page-wrapper">
  <div class="page-breadcrumb">
    <div class="row">
      <div class="col-12 d-flex no-block align-items-center">
        <h4 class="page-title">Tables</h4>
        <div class="ml-auto text-right">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Library</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title m-b-0">Data Table</h5>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Sr No.</th>
                <th scope="col">Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Password</th>
                <th scope="col">Company</th>
                <th scope="col">Contact No.</th>
                <th scope="col">Message</th> <!-- Optional -->
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <% users.forEach((user, index) => { %>
                <tr>
                  <td><%= index + 1 %></td>
                  <td><%= user.fname %></td>
                  <td><%= user.lname %></td>
                  <td><%= user.password %></td>
                  <td><%= user.company %></td>
                  <td><%= user.contact %></td>
                  <td><%= user.message %></td>
                  <td>
                    <a href="/edit/<%= user._id %>" class="btn btn-sm btn-warning">Edit</a>
                    <a href="/delete/<%= user._id %>" class="btn btn-sm btn-danger">Delete</a>
                  </td>
                </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <%- include('../../partials/footer.ejs') %>
</div>
